{% extends "base.html" %}
{% block title %}Food Log - {{session.username}}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block nav %}

<a class="nav-link active" href="#" data-toggle="tooltip" title="View your food logs" id="view_nav_link">View</a>

<a class="nav-link dropdown-toggle pe-3" href="#" id="log" role="button" data-bs-toggle="dropdown">
  Log
</a>
<ul class="dropdown-menu dropdown-menu-dark">
  <li><a class="dropdown-item" href="#" data-toggle="tooltip" title="Log something you've eaten" data-bs-toggle="modal"
      data-bs-target="#log_food_modal">Log food item</a></li>
  <li><a class="dropdown-item" id="edit_log" href="#" data-toggle="tooltip" title="Edit a log record">Edit record</a>
  </li>
  <li><a class="dropdown-item" id="delete_log" href="#" data-toggle="tooltip" title="Delete a log record">Delete
      record</a></li>
</ul>
<a class="nav-link" href="#" data-toggle="tooltip" title="Add a new food item to the database" data-bs-toggle="modal" data-bs-target="#add_food_modal">Add food</a>
<a class="nav-link" href="logout" data-toggle="tooltip" title="Log out of the application">Logout
  {{session.username}}</a>

{% endblock %}

{% set bgcol = 'bg-light bg-opacity-90 border border-white' %}


{% block content %}

<!-- log food modal -->
<div class="modal fade" id="log_food_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="log_food_label">Log a food item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form id="log_form">
          <div class="form-group wide mb-3">
            <label for="food">Food</label>
            <input type="text" required class="form-control" name="food" id="autocomplete_log"
              placeholder="Enter food name">
          </div>
          <div class="form-group wide mb-3">
            <button class="btn btn-secondary" type="button" data-toggle="tooltip"
              title="If the food you're looking for isn't appearing in the list, click here to add a new food type to the database"
              data-bs-toggle="modal" data-bs-target="#add_food_modal" id="add_food_btn">Add new food to
              database</button>
          </div>
          <div class="form-group wide mb-3">
            <label for="date">Date</label>
            <input type="date" required class="form-control" name="date" id="date" placeholder="Select date">
          </div>
          <div class="form-group wide mb-3">
            <label for="quantity">Quantity (g)</label>
            <input type="number" required class="form-control" name="quantity" id="quantity" placeholder="Quantity (g)">
          </div>

          <div class="form-group wide mb-3">
            <button type="submit" class="btn btn-secondary" id="log_food_submit">Submit</button>
            <button type="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>

        </form>
        <span id="log_food_error" class="text-danger"></span>
      </div>
    </div>
  </div>
</div>

<!-- add food modal -->
<div class="modal fade" id="add_food_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add_food_label">Add a food type</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form id="add_food_form">
          <div id="add_food_error" class="text-danger"></div>
          <div class="form-group wide mb-3">
            <label for="food">Food</label>
            <input type="text" required class="form-control" name="food" id="autocomplete_add"
              placeholder="Enter food name">
          </div>
          <div class="form-group wide mb-3">
            <label for="calories">Calories / 100g</label>
            <input type="number" required class="form-control" name="calories" id="calories"
              placeholder="Calories per 100g">
          </div>
          <div class="form-group wide mb-3">
            <label for="protein">Protein %</label>
            <input type="number" step="0.01" required class="form-control" name="protein" id="protein"
              placeholder="Protein (g per 100g)">
          </div>
          <div class="form-group wide mb-3">
            <label for="carbs">Carbohydrate %</label>
            <input type="number" step="0.01" required class="form-control" name="carbs" id="carbs"
              placeholder="Carbohydrate (g per 100g)">
          </div>
          <div class="form-group wide mb-3">
            <label for="fat">Fat %</label>
            <input type="number" step="0.01" required class="form-control" name="fat" id="fat"
              placeholder="Fat (g per 100g)">
          </div>

          <div class="form-group wide mb-3">
            <button type="button" id="add-food-submit-btn" class="btn btn-secondary">Submit</button>
            <button type="button" class="btn btn-secondary" id="add-food-cancel-btn" data-bs-dismiss="modal">Cancel</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<!-- log food modal -->
<div class="modal fade" id="delete_confirm_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="log_food_label" style="margin: 0 auto;">Confirm Delete</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this log entry?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="cancel_del_btn">Cancel</button>
        <button type="button" class="btn btn-danger" id="confirm_del_btn">Delete</button>
      </div>
    </div>
  </div>
</div>

<span id="select_row_msg" class="text-dark fs-3"></span>
<table id="data" class="table table-striped small rounded" style="text-shadow:none">
  <thead>
    <tr>
      <th style="display:none;"></th>
      <th>Date</th>
      <th>Food</th>
      <th>Quantity (g)</th>
      <th>Protein</th>
      <th>Carbs</th>
      <th>Fat</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>

    {% for log in food_log %}

    <tr>
      <td style="display:none;">{{ log.id }}</td>
      <td>{{ log.date }}</td>
      <td>{{ log.name }}</td>
      <td>{{ log.quantity }}</td>
      <td>{{ log.protein }}</td>
      <td>{{ log.carbs }}</td>
      <td>{{ log.fat }}</td>
      <td>{{ log.calories }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}

{% block footer %}

{% endblock %}

{% block scripts %}

{{ super() }}

<script src="{{ url_for('static', filename='jquery.autocomplete.js') }}"></script>
<script>
  $(document).ready(function () {

    edit_mode = false;
    back_to_log = false;

    food_name = '{{ food_name }}';
    if (food_name != '') {
      $('#log_food_modal').modal('show');
      $('#autocomplete_log').val(food_name);
    }

    bad_log_msg = '{{ bad_log_msg }}';
    if (bad_log_msg != '') {
      $('#log_food_modal').modal('show');
      $('#log_food_error').html(bad_log_msg);
    }

    // Render log data table as a DataTables table
    $('#data').DataTable({
      'searching': false,
      'lengthChange': false,
      'select': true,
      'order': [[0, 'desc']],
    });

    // Bootstrap tooltips
    $('[data-toggle="tooltip"]').tooltip({ 'placement': 'left', 'trigger': 'hover' });

    // Highlight the active nav-bar link
    $('.nav-link').on('click', function (event) {
      $('.nav-link.active').removeClass('active');
      $(this).addClass('active');
    });

    // Highlight correct nav-barl links when modals are closed
    $('#log_food_modal,#add_food_modal').on('hidden.bs.modal', function () {
      $('.nav-link.active').removeClass('active');
      $('#view_nav_link').addClass('active');
    });

    // Autocomplete for log food modal
    // Uses local db
    $('#autocomplete_log').autocomplete({
      serviceUrl: '/autocomplete_log/food',
      onSearchComplete: function (query, suggestions) {
        if (!suggestions.length) {
          // When local suggestions are exhausted highlight the add food button
          $('#add_food_btn').addClass('btn-warning');
        }
      }
    });

    // Autocomplete for add food modal
    // Uses external (edamam) api
    $('#autocomplete_add').autocomplete({
      serviceUrl: '/autocomplete_add/food',
      onSelect: function (suggestion) {
        $.ajax({
          url: '/autocomplete_add_details',
          type: 'GET',
          "dataType": "JSON",
          data: { 'query': encodeURIComponent(suggestion.value) },
          success: function (data) {
            $('#autocomplete_add').val(data.name);
            $('#calories').val(data.calories);
            $('#protein').val(data.protein);
            $('#carbs').val(data.carbs);
            $('#fat').val(data.fat);
          },
          // Edamam autocomplete sometimes returns an error
          // on certain foods so just keep the name and autofill zeroes for attributes
          error: function (data) {
            $('#autocomplete_add').val(suggestion.value);
            $('#calories').val(0);
            $('#protein').val(0);
            $('#carbs').val(0);
            $('#fat').val(0);
          }
        });
      }
    });

    // Log food form submission
    $('#log_form').on('submit', function () {
      event.preventDefault()
      if (!edit_mode) {
        $.ajax({
          url: '/food_log/add',
          type: 'POST',
          data: $('#log_form').serialize(),
          success: function (data) {
            location.reload()
          }
        });
      }
      else {
        console.log("EDIT_MODE")
      }
    });

    // Edit log entry
    $('#edit_log').on('click', function (event) {
      event.preventDefault()
      edit_mode = true;
      $('#select_row_msg').text('Select a row to edit');
      table = $('#data').DataTable();
      // Get selected row
      table.on('select', function (e, dt, type, indexes) {
        // Get log entry id from hidden column at start of row
        var log_id = table.rows({ selected: true }).data()[0][0];
        // Get that log entry from the db
        $.ajax({
          url: '/log/' + log_id,
          type: 'GET',
          dataType: 'JSON',
          success: function (data) {
            // Populate update log entry form with data
            $('#log_food_modal').modal('show');
            $('#autocomplete_log').val(data.name);
            $('#date').val(data.date);
            $('#quantity').val(data.quantity);
            $('#food_id_log').val(data.food_id);
            // update log entry form submission handler
            if (edit_mode) {
              $('#log_form').on('submit', function (event) {
                event.preventDefault()

                $.ajax({
                  url: '/log/' + log_id,
                  type: 'PUT',
                  data: $('#log_form').serialize(),
                  success: function () {
                    $('#log_food_modal').modal('hide');
                    edit_mode = false;
                    location.reload();
                  },
                });
              });
            }
          }
        });
      });
    });

    // Add food form submission
    $('#add-food-submit-btn').on('click', function (event) {
      event.preventDefault()
      $.ajax({
        url: '/food/add',
        type: 'POST',
        data: $('#add_food_form').serialize(),
        success: function (data) {
          // Duplicate food entry error
          if (data.id == -1) {
            $('#add_food_error').html(data.integrity_error + " already exists in the database");
          }
          else {
          if (back_to_log) {
            $('#log_food_modal').modal('show');
            $('#autocomplete_log').val($('#autocomplete_add').val()).focus();
            back_to_log = false;
          }
          $('#add_food_form')[0].reset();
          $('#add_food_modal').modal('hide');
          }
        }
      });
    });

    // Clear add food form on cancel
    $('#add-food-cancel-btn').on('click', function (event) {
      event.preventDefault()
      if (back_to_log) {
        $('#log_food_modal').modal('show');
        $('#autocomplete_log').val($('#autocomplete_add').val()).focus();
        back_to_log = false;
      }
      $('#add_food_form')[0].reset();
    });

    // Set back_to_log flag when add food modal is opened from log food modal
    $('#add_food_btn').on('click', function (event) {
      back_to_log = true;
    });

    // If the add food button on the log food modal is clicked
    // place the partial query in the log food form into the add food form
    $('#add_food_modal').on('shown.bs.modal', function () {
        if (back_to_log) {
          $('#autocomplete_add').val($('#autocomplete_log').val()).focus();
      }
    });

    // Delete log entry
    $('#delete_log').on('click', function (event) {
      $('#select_row_msg').text('Select a row to delete');
      table = $('#data').DataTable();
      table.on('select', function (e, dt, type, indexes) {
        $('#delete_confirm_modal').modal('show');
        $('#cancel_del_btn').on('click', function (event) {
          $('#delete_confirm_modal').modal('hide');
          window.location.href = window.location.href;
        });
        $('#confirm_del_btn').on('click', function (event) {
          // Get selected row
          var log_id = table.rows({ selected: true }).data()[0][0];
          $.ajax({
            url: '/log/' + log_id,
            type: 'DELETE',
            success: function (e) {
              $('#delete_confirm_modal').modal('hide');
              location.reload();
            }
          });
        });
      });
    });
  });



</script>
{% endblock %}