{% extends "base.html" %}
{% block title %}Food Log - {{session.username}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block nav %}
<a class="nav-link active" aria-current="page" href="food_log">Food log</a>
<a class="nav-link" href="update_food">Update foods</a>
<a class="nav-link" href="logout">Logout {{session.username}}</a>
{% endblock %}
{% set bgcol = 'bg-light bg-opacity-90 border border-white' %}
{% block content %}
<table id="data" class="table table-striped small" style="text-shadow:none">
    <thead>
      <tr>
        <th>Date</th>
        <th>Food</th>
        <th>Quantity</th>
        <th>Protein</th>
        <th>Carbs</th>
        <th>Fat</th>
        <th>Calories</th>
      </tr>
    </thead>
    <tbody>
      {% for log in food_log %}
        <tr>
          <td>{{ log.date }}</td>
          <td>{{ log.name }}</td>
          <td>{{ log.quantity }}</td>
          <td>{{ log.protein }}</td>
          <td>{{ log.carbs }}</td>
          <td>{{ log.fat }}</td>
          <td>{{ log.calories }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
{% block footer %}

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({"searching": false, "lengthChange": false});
    });
  </script>
{% endblock %}


