{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block nav %}
<a class="nav-link active" href="login">Login</a>
<a class="nav-link" href="register">Register</a>
{% endblock %}

{% block content %}

<form id="login_form">
    <div class="form-group mb-4">
        <h1>Login</h1>
    </div>
    <div class="form-group mb-3">
        <label for="username">User Name</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
    </div>
    <div class="form-group mb-3">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>
    <div class="form-group mb-3">
        <button type="submit" class="btn btn-lg btn-secondary">Submit</button>
    </div>
    <span id="login_error"></span>
</form>

{{ super() }}

{% endblock %}
<!-- end block content -->

{% block scripts %}
{{ super() }}

<script>

    $(document).ready(function () {
        $('#login_form').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "login",
                data: $('#login_form').serialize(),
                success: function (data) {
                    if(data.includes("Foodlogger - Login")) {
                        $('#login_error').html("<p class='error text-danger'><strong>Username or password incorrect!</strong></p>");
                    }
                    else {
                        window.location.href = '{{url_for("food_log")}}';
                    }
                    
                }
            });
        });

    });
</script>
{% endblock %}
<!-- end block scripts -->